@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.container {
  width: 100%;
  min-height: 100vh;
  padding: 64px;
}
.container .top-div {
  display: flex;
  justify-content: space-between;
}
.container .top-div .left-text {
  display: flex;
  align-items: center;
  gap: 16px;
}
.container .top-div .left-text h1 {
  color: var(--text-color-primary, #2d2d2d);
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.container .top-div .left-text svg {
  width: 8px;
  height: 8px;
}
.container .top-div .left-text p {
  color: var(--text-color-accent, #db6b97);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.container .top-div .right-text {
  display: flex;
  align-items: center;
}
.container .top-div .right-text svg {
  width: 20px;
  height: 20px;
}
.container .top-div .right-text svg p {
  color: var(--text-color-accent, #db6b97);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container main {
  margin-top: 40px;
}
.container main ul {
  margin-bottom: 40px;
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.container main ul li {
  position: relative;
}
.container main ul li img {
  width: 100%;
  height: 360px;
}
.container main ul li .position-text {
  width: 100%;
  position: absolute;
  top: 312px;
  left: 0;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
.container main ul li .position-text .star {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: var(--text-color-secondary, #fff);
}
.container main ul li .position-text .star svg {
  width: 16px;
  height: 16px;
}
.container main ul li .position-text .star p {
  color: var(--text-color-primary, #2d2d2d);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.container main ul li .position-text .heart img {
  width: 24px;
  height: 24px;
}
.container main ul li h2 {
  margin-top: 16px;
  color: var(--text-color-primary, #2d2d2d);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.container main ul li p {
  color: var(--text-color-tertiary, #737373);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container main ul li h3,
.container main ul li h5 {
  display: flex;
  align-items: center;
}
.container main ul li span {
  display: block;
  color: var(--text-color-accent, #db6b97);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.container main ul li .div-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.container main ul li .div-btn button i {
  font-size: 20px;
}
.container main .basket-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  border: 1px solid black;
  padding: 20px;
}
.container main .basket-container .basket-icon {
  display: flex;
  justify-content: end;
  align-items: end;
}
.container main .basket-container .basket-count {
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  position: absolute;
  top: 35px;
  right: 20px;
}
.container main .basket-container h2 {
  text-align: center;
  font-size: 24px;
  text-transform: capitalize;
}
.container main .basket-container .balance {
  display: flex;
  justify-content: end;
  align-items: end;
}
.container main .basket-container .basket-product {
  width: 100%;
}
.container main .basket-container .basket-product .basket-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container main .basket-container .basket-product .basket-ul img {
  width: 100px;
  height: 100px;
}/*# sourceMappingURL=index.css.map */