@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.container {
  width: 100%;
  min-height: 100vh;
  padding: 64px;

  .top-div {
    display: flex;
    justify-content: space-between;
    .left-text {
      display: flex;
      align-items: center;
      gap: 16px;
      h1 {
        color: var(--text-color-primary, #2d2d2d);
        font-family: Poppins;
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
      }

      svg {
        width: 8px;
        height: 8px;
      }

      p {
        color: var(--text-color-accent, #db6b97);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }

    .right-text {
      display: flex;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;

        p {
          color: var(--text-color-accent, #db6b97);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }

  main {
    margin-top: 40px;

    ul {
      margin-bottom: 40px;
      /* display: flex;
      justify-content: space-between; */
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      li {
        position: relative;

        img {
          width: 100%;
          height: 360px;
        }
        .position-text {
          width: 100%;
          position: absolute;
          top: 312px;
          left: 0;
          padding: 0 16px;
          display: flex;
          justify-content: space-between;

          .star {
            padding: 4px 8px;
            display: flex;
            align-items: center;
            gap: 4px;
            border-radius: 4px;
            background: var(--text-color-secondary, #fff);

            svg {
              width: 16px;
              height: 16px;
            }

            p {
              color: var(--text-color-primary, #2d2d2d);
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 16px;
            }
          }

          .heart {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }

        h2 {
          margin-top: 16px;
          color: var(--text-color-primary, #2d2d2d);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }

        p {
          color: var(--text-color-tertiary, #737373);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        h3,
        h5 {
          display: flex;
          align-items: center;
        }

        span {
          display: block;
          color: var(--text-color-accent, #db6b97);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
        .div-btn {
          margin-top: 20px;
          display: flex;
          justify-content: space-around;
          button {
            i {
              font-size: 20px;
            }
          }
        }
      }
    }

    .basket-container {
      width: 100%;
      min-height: 100vh;
      position: relative;
      border: 1px solid black;
      padding: 20px;

      .basket-icon {
        display: flex;
        justify-content: end;
        align-items: end;
      }

      .basket-count {
        background-color: black;
        color: white;
        border-radius: 50%;
        font-size: 24px;
        position: absolute;
        top: 35px;
        right: 20px;
      }

      h2 {
        text-align: center;
        font-size: 24px;
        text-transform: capitalize;
      }

      .balance {
        display: flex;
        justify-content: end;
        align-items: end;
      }

      .basket-product {
        width: 100%;

        .basket-ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}
