$fontFamily: Poppins;
$fontWeight400: 400;
$fontWeight600: 600;

@mixin flex {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  min-height: 100vh;

  nav {
    padding: 16px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 80px;
      height: 68px;

      .circle {
        position: relative;
        width: 64.306px;
        height: 67.215px;

        .avira {
          position: absolute;
          right: 24px;
          top: 24px;
          width: 65.762px;
          height: 19.496px;
        }
      }
    }

    .nav-text {
      width: 407px;

      ul {
        @include flex;
        li {
          a {
            color: var(--text-color-primary, #2d2d2d);
            text-align: right;
            font-family: $fontFamily;
            font-size: 16px;
            font-style: normal;
            font-weight: $fontWeight400;
            line-height: 24px;
          }
          a:hover {
            color: #db6b97;
            font-size: 20px;
          }
        }
      }
    }
    .icon {
      width: 200px;
      @include flex;
      p {
        display: flex;
        align-items: center;
      }
    }
  }

  main {
    @include flex;
    gap: 32x;
    padding: 64px;
    .box-1 {
      width: 40%;
      position: relative;
      .text-box1 {
        width: 100%;
        padding: 24px;
        position: absolute;

        p {
          color: var(--text-color-accent, #db6b97);
          font-family: $fontFamily;
          font-size: 14px;
          font-style: normal;
          font-weight: $fontWeight600;
          line-height: 24px;
        }

        a {
          margin-top: 4px;
          color: var(--text-color-primary, #2d2d2d);
          font-family: $fontFamily;
          font-size: 23px;
          font-style: normal;
          font-weight: $fontWeight600;
          line-height: 32px;
        }
      }
      img {
        width: 100%;
        height: 686px;
      }
    }

    .right-main {
      @include flex;
      flex-direction: column;
      width: 58%;

      .box-2 {
        width: 100%;
        @include flex;
        position: relative;
        img {
          width: 100%;
          height: 294px;
        }
        .text-box2 {
          padding: 24px;
          position: absolute;

          p {
            color: var(--text-color-accent, #db6b97);
            font-family: $fontFamily;
            font-size: 14px;
            font-style: normal;
            font-weight: $fontWeight600;
            line-height: 24px;
          }

          a {
            margin-top: 4px;
            color: var(--text-color-primary, #2d2d2d);
            font-family: $fontFamily;
            font-size: 23px;
            font-style: normal;
            font-weight: $fontWeight600;
            line-height: 32px;
          }
        }
      }

      .bottom-2div {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .box-3,
        .box-4 {
          position: relative;
          width: 48%;
          .text-box3,
          .text-box4 {
            padding: 24px;
            position: absolute;

            p {
              color: var(--text-color-accent, #db6b97);
              font-family: $fontFamily;
              font-size: 14px;
              font-style: normal;
              font-weight: $fontWeight600;
              line-height: 24px;
            }

            a {
              margin-top: 4px;
              color: var(--text-color-primary, #2d2d2d);
              font-family: $fontFamily;
              font-size: 23px;
              font-style: normal;
              font-weight: $fontWeight600;
              line-height: 32px;
            }
          }
          img {
            width: 100%;
            height: 360px;
          }
        }
      }
    }
  }
}
