.container {
  width: 100%;
  min-height: 100vh;

  nav {
    padding: 16px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 80px;
      height: 68px;

      .circle {
        position: relative;
        width: 64.306px;
        height: 67.215px;

        .avira {
          position: absolute;
          right: 24px;
          top: 24px;
          width: 65.762px;
          height: 19.496px;
        }
      }
    }

    .nav-text {
      width: 407px;

      ul {
        display: flex;
        justify-content: space-between;
        li {
          a {
            color: var(--text-color-primary, #2d2d2d);
            text-align: right;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
          a:hover {
            color: #db6b97;
            font-size: 20px;
          }
        }
      }
    }
    .icon {
      width: 200px;
      display: flex;
      justify-content: space-between;
      p {
        display: flex;
        align-items: center;
      }
    }
  }

  main {
    display: flex;
    justify-content: space-between;
    padding: 64px;
    .box-1 {
      .text-box1 {
        padding: 24px;
        position: absolute;

        img {
          width: 512px;
          height: 686px;
          position: relative;
        }

        p {
          color: var(--text-color-accent, #db6b97);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }

        a {
          margin-top: 4px;
          color: var(--text-color-primary, #2d2d2d);
          font-family: Poppins;
          font-size: 23px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
        }
      }
    }

    .right-main {
      .box-2 {
        .text-box2 {
          padding: 24px;
          position: absolute;

          img {
            width: 776px;
            height: 294px;
            position: relative;
          }

          p {
            color: var(--text-color-accent, #db6b97);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
          }

          a {
            margin-top: 4px;
            color: var(--text-color-primary, #2d2d2d);
            font-family: Poppins;
            font-size: 23px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
          }
        }
      }

      .bottom-2div {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        .box-3,
        .box-4 {
          .text-box3,
          .text-box4 {
            padding: 24px;
            position: absolute;

            img {
              width: 372px;
              height: 360px;
              position: relative;
            }

            p {
              color: var(--text-color-accent, #db6b97);
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
            }

            a {
              margin-top: 4px;
              color: var(--text-color-primary, #2d2d2d);
              font-family: Poppins;
              font-size: 23px;
              font-style: normal;
              font-weight: 600;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
}
